._title{
    margin-top: 20px;
}

.form-wrapper{
    width: 100%;
}

._input{
    margin-bottom: 1em;
}

.exit-btn{
    position: fixed;
    left: 5%;
    bottom: 5%;
}

.polarity{
    font-size: 120%;
    padding: 5px 20px;
    border-radius: 12px;
}

.positive{
    background-color: #63b553;
    color: #365b27;
}

.negative{
    background-color: #ea5c4d;
    color: #b50e27;
}