._title{
    margin-top: 20px;
}

.form-wrapper{
    width: 100%;
}

._input{
    margin-bottom: 1em;
}

.exit-btn{
    position: fixed;
    left: 5%;
    bottom: 5%;
}

.positive{
    background-color: #4aaf36;
    padding: 5px;
    font-size: 80%;
    color: #365b27;
}

.negative{
    background-color: #f21e07;
    color: #b50e27;
    font-size: 80%;
    padding: 5px;
}