<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='func.css') }}">
</head>
<body>

    <h1 class="title _title">sentiment analysis in {{ name }}</h1>

    <div class="container">
        <form action="" method="post" role="form">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-6 offset-md-3">Type some text to analysis:</label>

                    <input type="text"
                           class="col-md-6 offset-md-3 _input form-control DisplayFlex"
                           id="input_value"
                           name="input_value"
                           placeholder="type at here ..."
                           required
                    />

                    <button type="submit"
                            id="btn-submit"
                            class="offset-md-3 btn btn-info DisplayFlex"
                            onclick="this.form.submit(); this.disabled=true; this.value='Sending…'; ">
                        Analyze
                    </button>
                </div>
            </div>
         </form>
        <br>
        <hr>
        <br>
        {% if res %}
            <script>
                var btn = document.getElementById('btn-submit');
                btn.disable = False;
                btn.innerHTML = "Analyze";
            </script>
        {% endif %}
        <div class="row">
            <span class="offset-md-3">
                {% if input_content %}
                    <b>Input: </b><i>"{{ input_content }}"</i>
                {% else %}
                    <br>
                {% endif %}
            </span>
        </div>
        <br>
        <div class="row">
            <span class="offset-md-3">
                <b>Result: </b>
                {% if res == "positive" %}
                    <span class="polarity positive">{{ res }}</span>
                {% elif res == 'negative' %}
                    <span class="polarity negative">{{ res }}</span>
                {% else %}
                    <span></span>
                {% endif %}
            </span>
        </div>

        <button class="btn btn-danger exit-btn"
                onclick="location.href='{{ url_for('index') }}'"
        ><< Back to home</button>

    </div>
</body>
</html>